.std-button {
  min-width: 80px;
  min-height: 30px;
  padding: 0 0.2rem;
  font-weight: bold;
  border-radius: 0.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: lighter;
  cursor: pointer;
  color: white;
}

.logout {
  background-color: var(--color-danger);
  border: 2px solid var(--color-danger);
}

.logout:hover {
  background-color: var(--color-selected);
  box-shadow: 0 10px 20px 0 rgb(51 119 245 / 50%);
  border: 2px solid var(--color-selected);
}

.login {
  background-color: var(--color-selected);
  border: 2px solid var(--color-selected);
}

.login:hover {
  background-color: var(--color-secondary);
  box-shadow: 0 10px 20px 0 rgb(250 207 16 / 50%);
  border: 2px solid var(--color-secondary);
}
