.team-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
}

.team-list__item{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}