.team-form{
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 20rem;
  border-radius: .5rem;
  padding: 3rem;
  gap: 1rem;
}
.team-form__label{
  color: var(--text-secondary);
}
.team-form__input{
  font-size: large;
  background-color: #00000010;
  border-radius: .2rem;
  border: 1px solid #00000023;
  outline-color: var(--color-primary);
  padding: .5rem;

}
.team-form__input--match{
  border-color: var(--color-succes);
}
.team-form__input--no-match{
  border-color: var(--color-danger);
}
.team-form__create-button{

  width: 7rem;
  height: 3.5rem;
  font-weight: bold;
  font-size: large;
  border-radius: .5rem;
  background-color: var(--color-primary);
  box-shadow: 0 10px 20px 0 rgb(83 8 223 / 50%) ;
  border: 2px solid var(--color-primary);
  color: white;

}

.team-form__create-button--hover:hover{

  background-color: var(--color-selected);
  box-shadow: 0 10px 20px 0 rgb(51 119 245 / 50%) ;
  border: 2px solid var(--color-selected);


}

.team-form__cancel-button{

  width: 7rem;
  height: 3.5rem;
  font-weight: bold;
  font-size: large;
  border-radius: .5rem;
  background-color: white;

  border: 2px solid var(--color-primary);
  color: var(--color-primary);

}

.team-form__cancel-button--hover:hover{

  background-color: var(--color-selected);
  box-shadow: 0 10px 20px 0 rgb(51 119 245 / 50%) ;
  border: 2px solid var(--color-selected);
  color: white;



}

.team-form__button-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  gap:1rem ;
}
.team-form__error{
  
  color: var(--color-danger);
}

@media (max-width: 900px) {



  .team-form__tournament-button{
      align-self: center;
  }
  .team-form__button-container{

      gap: 0;
      margin-top: .5rem;
       
  }

 

}